body{
    background-color: #A6D3F1;
}
canvas {
    border: 3px outset #9160BD;
    background-image: url("../media/background.jpg");
    background-size: cover;
}
div{
    text-align: center;
    width: 480px;
}
a{
    color: black;
}